BLOB_Account_Key=""
BLOB_Account_Name=""
BLOB_File_Path=""
BLOB_File_System_Name=""
DAILYYR_API_CODE=""
GOOGLE_API_KEY=""
HOST_CODE=""
# HOST_URL=""
HOST_URL=""
SQL_Database=""
SQL_Driver=""
SQL_Password=""
SQL_Server=""
SQL_Username=""