# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
azure-functions
azure-functions-durable
requests
pandas
numpy
Shapely
ipython
jinja2
pyodbc
pyarrow
azure-storage-file-datalake==12.11.0
skyfield>=1.43.1
