.daypicker-selected-date {
  font-weight: bold !important;
  /* background-color: var(--rdp-background-color); */
  border: 2px solid #2C5C32;
  color: #FFFFFF !important;
  background: #2C5C32
}

.daypicker-outside-date {
  opacity: 1;
}

.rdp-button_reset[disabled] {
  opacity: 0.25;
}

.rdp-button_reset:hover:not([disabled]) {
  background-color: #2C5C32 !important;
  opacity: 0.5;
  color: #FFFFFF !important;
}
